<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue à {{ title }}!
  </h1>
  <app-user></app-user>
</div>

<app-updater></app-updater>

