<p *ngIf="updates.available | async as event; else upToDate" class="outdated">
  Your app can be updated to version {{event.available.appData.versionTag}}
  <button (click)="update()">
    Update your app
  </button>
</p>
<ng-template #upToDate>
  <p class="up-to-date">Your app is up-to-date</p>
</ng-template>
