:host {
  position: fixed;
  bottom: 0;
  right: 0;
}

p {
  padding: 10px;
  margin: 10px;
}

.up-to-date {
  background-color: limegreen;
  color: white;
}

.outdated {
  background-color: darkorange;
  color: white;
}
