<div *ngIf="user | async as user; else noUser">
  <img [src]="user.picture.large">
  <p>{{user.name.title}} {{user.name.first}} {{user.name.last}}</p>
</div>
<ng-template #noUser>
  <p>No user</p>
</ng-template>
